---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Card Social Links">
	<main>		
		<ul>
			<Card
				name ="Jessica Randall"
				address='London, United Kingdom'
				body='"Front-end developer and avid reader."'
			/>

		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 600px;
		max-width: calc(100% - 2rem);
		color: white;		
		line-height: 1.6;
		font-size: 14px;
	}

</style>
