---
---

<nav class="icon">
    <a href="#" class="cta">GitHub</a>
    <a href="#" class="cta">Frontend Mentor</a>
    <a href="#" class="cta">LinkedIn</a>
    <a href="#" class="cta">Twitter</a>
    <a href="#" class="cta">Instagram</a>
</nav>


  <style>
    .icon{
        display: grid;
        grid-template-columns:repeat(1, max-content);
        text-align: center;
        width: 300px;
        margin: 2rem 1rem;
        align-items: center;
        
    }

    .cta{
        color: white;
        text-decoration: none;
        padding: 1rem 6rem;
        background-color: hsl(0, 0%, 20%);
        margin: 10px 0;
        border-radius: 10px;
    }

    .cta:hover{
        background-color: rgb(var(--Green));
        color: hsl(0, 0%, 8%) ;
    }
  </style>